/**** SASS VARIABLES ****/
/*****   Colors   *****/
* {
  background: rgba(0, 0, 0, 0.05);
}

.col-1 {
  float: left;
  clear: none;
  width: 7.41667%;
  margin-left: 0;
  margin-right: 1%;
}
.col-1:last-child {
  margin-right: 0;
}

.col-2 {
  float: left;
  clear: none;
  width: 15.83333%;
  margin-left: 0;
  margin-right: 1%;
}
.col-2:last-child {
  margin-right: 0;
}

.col-3 {
  float: left;
  clear: none;
  width: 24.25%;
  margin-left: 0;
  margin-right: 1%;
}
.col-3:last-child {
  margin-right: 0;
}

.col-4 {
  float: left;
  clear: none;
  width: 32.66667%;
  margin-left: 0;
  margin-right: 1%;
}
.col-4:last-child {
  margin-right: 0;
}

.col-5 {
  float: left;
  clear: none;
  width: 41.08333%;
  margin-left: 0;
  margin-right: 1%;
}
.col-5:last-child {
  margin-right: 0;
}

.col-6 {
  float: left;
  clear: none;
  width: 49.5%;
  margin-left: 0;
  margin-right: 1%;
}
.col-6:last-child {
  margin-right: 0;
}

.col-7 {
  float: left;
  clear: none;
  width: 57.91667%;
  margin-left: 0;
  margin-right: 1%;
}
.col-7:last-child {
  margin-right: 0;
}

.col-8 {
  float: left;
  clear: none;
  width: 66.33333%;
  margin-left: 0;
  margin-right: 1%;
}
.col-8:last-child {
  margin-right: 0;
}

.col-9 {
  float: left;
  clear: none;
  width: 74.75%;
  margin-left: 0;
  margin-right: 1%;
}
.col-9:last-child {
  margin-right: 0;
}

.col-10 {
  float: left;
  clear: none;
  width: 83.16667%;
  margin-left: 0;
  margin-right: 1%;
}
.col-10:last-child {
  margin-right: 0;
}

.col-11 {
  float: left;
  clear: none;
  width: 91.58333%;
  margin-left: 0;
  margin-right: 1%;
}
.col-11:last-child {
  margin-right: 0;
}

.col-12 {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 1%;
}
.col-12:last-child {
  margin-right: 0;
}

.endrow {
  margin-right: 0;
}

@media (max-width: 768px) {
  .col-break-ph {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
  }
  .col-break-ph:first-child {
    margin-left: auto;
  }
  .col-break-ph:last-child {
    margin-right: auto;
  }
}

.filler {
  float: left;
  clear: none;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-height: 300px;
}

#cover-scroller {
  padding: 2em;
  white-space: nowrap;
  overflow: auto;
}
#cover-scroller .item {
  display: inline-block;
  width: 185px;
  height: 278px;
  cursor: pointer;
  margin: 2px;
  transition: all 200ms ease;
  transition-delay: 0s;
}
#cover-scroller .item:hover {
  transform: scale(1.1);
  /**transition-delay: 300ms;*/
}

.mainview {
  position: relative;
}

.container, #sidebar {
  min-height: 300px;
  padding: 2em;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
#footer footer {
  position: relative;
  height: 34px;
}
#footer footer p {
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-wrap {
  position: relative;
  *zoom: 1;
}
#main-wrap:before, #main-wrap:after {
  content: '';
  display: table;
}
#main-wrap:after {
  clear: both;
}

.moviecovers {
  *zoom: 1;
}
.moviecovers:before, .moviecovers:after {
  content: '';
  display: table;
}
.moviecovers:after {
  clear: both;
}
.moviecovers img {
  margin-top: 1%;
  float: left;
  clear: none;
  width: 19.2%;
  margin-left: 0;
  margin-right: 1%;
}
.moviecovers img:nth-of-type(n) {
  margin-right: 1%;
  float: left;
  clear: none;
}
.moviecovers img:nth-of-type(5n) {
  margin-right: 0;
  float: right;
}
.moviecovers img:nth-of-type(5n + 1) {
  clear: both;
}
@media (max-width: 768px) {
  .moviecovers img {
    float: left;
    clear: none;
    width: 32.66667%;
    margin-left: 0;
    margin-right: 1%;
  }
  .moviecovers img:nth-of-type(n) {
    margin-right: 1%;
    float: left;
    clear: none;
  }
  .moviecovers img:nth-of-type(3n) {
    margin-right: 0;
    float: right;
  }
  .moviecovers img:nth-of-type(3n + 1) {
    clear: both;
  }
}

* {
  background: none;
}

body {
  background: #333;
}
body * {
  box-sizing: border-box;
}

#search-container {
  background: #2B2B2B;
}

#search-wrap {
  display: block;
  padding: 10% 0;
  margin: 0 auto;
  width: 75%;
}

#filter-search-bar {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1em;
  height: 2.5em;
  line-height: 2.5;
  font-size: 2em;
  background: #EAEAEA;
  border: 0;
  border-radius: 50px;
  outline: 0;
  padding: 0 1em;
}

.filter-controls {
  text-align: center;
}

.filter-controller {
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
  font-size: 1.5em;
}
.filter-controller .filter-btn {
  cursor: pointer;
}
.filter-controller .filter-btn, .filter-controller label {
  font-size: 1em;
  border: 0;
  outline: 0;
  background: #309DED;
  color: #EAEAEA;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  transition: color 150ms, background 150ms;
}
.filter-controller .filter-btn:hover {
  background: #1074BC;
}
.filter-controller.with-label .filter-btn, .filter-controller.with-label label {
  padding: 0 15px;
  float: left;
}

.moviecovers {
  *zoom: 1;
  margin: 0 3%;
}
.moviecovers:before, .moviecovers:after {
  content: '';
  display: table;
}
.moviecovers:after {
  clear: both;
}
.moviecovers img {
  margin-top: 1%;
  float: left;
  clear: none;
  width: 15.83333%;
  margin-left: 0;
  margin-right: 1%;
}
.moviecovers img:nth-of-type(n) {
  margin-right: 1%;
  float: left;
  clear: none;
}
.moviecovers img:nth-of-type(6n) {
  margin-right: 0;
  float: right;
}
.moviecovers img:nth-of-type(6n + 1) {
  clear: both;
}

@media (min-width: 1400px) {
  .moviecovers img {
    float: left;
    clear: none;
    width: 11.625%;
    margin-left: 0;
    margin-right: 1%;
  }
  .moviecovers img:nth-of-type(n) {
    margin-right: 1%;
    float: left;
    clear: none;
  }
  .moviecovers img:nth-of-type(8n) {
    margin-right: 0;
    float: right;
  }
  .moviecovers img:nth-of-type(8n + 1) {
    clear: both;
  }

  margin: 0 4%;
}
@media (max-width: 768px) {
  .moviecovers img {
    float: left;
    clear: none;
    width: 24.25%;
    margin-left: 0;
    margin-right: 1%;
  }
  .moviecovers img:nth-of-type(n) {
    margin-right: 1%;
    float: left;
    clear: none;
  }
  .moviecovers img:nth-of-type(4n) {
    margin-right: 0;
    float: right;
  }
  .moviecovers img:nth-of-type(4n + 1) {
    clear: both;
  }

  margin: 0 2%;
}
@media (max-width: 500px) {
  .moviecovers img {
    float: left;
    clear: none;
    width: 49.5%;
    margin-left: 0;
    margin-right: 1%;
  }
  .moviecovers img:nth-of-type(n) {
    margin-right: 1%;
    float: left;
    clear: none;
  }
  .moviecovers img:nth-of-type(2n) {
    margin-right: 0;
    float: right;
  }
  .moviecovers img:nth-of-type(2n + 1) {
    clear: both;
  }

  margin: 0 1%;
}
