@import "variables";
@import "jeet/jeet";
@import "include-media";
@include j-edit();

@mixin absolute( $top: null, $right: null, $bottom: null, $left: null) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}


.col-1 {
	@include j-column(1/12);
}

.col-2 {
	@include j-column(2/12);
}

.col-3 {
	@include j-column(3/12);
}

.col-4 {
	@include j-column(4/12);
}

.col-5 {
	@include j-column(5/12);
}

.col-6 {
	@include j-column(6/12);
}

.col-7 {
	@include j-column(7/12);
}

.col-8 {
	@include j-column(8/12);
}

.col-9 {
	@include j-column(9/12);
}

.col-10 {
	@include j-column(10/12);
}

.col-11 {
	@include j-column(11/12);
}

.col-12 {
	@include j-column(12/12);
}

.endrow {
	margin-right: 0;
}

.col-break-ph {
	@include media('<=tablet') {
		@include j-stack($pad: $padding-large);
	}
}

.filler {
	@include j-span(1);
	min-height: 300px;
}

#cover-scroller {
	padding: $padding-large;
	white-space: nowrap;
	overflow: auto;
	.item {
		display: inline-block;
		width: 185px;
		height: 278px;
		cursor: pointer;
		margin: 2px;
		transition: all 200ms ease;
		transition-delay: 0s;
		&:hover {
			transform: scale(1.10);
			/**transition-delay: 300ms;*/
		}
	}
}

.mainview {
	position: relative;
}

.container,#sidebar {
	min-height: 300px;
	padding: $padding-large;
}

#footer {
	@include absolute($left: 0, $right: 0, $bottom: 0);
	z-index: 100;
	footer {
		position: relative;
		height: 34px;
		p {
			@include j-align(both);
		}
	}
}

#main-wrap {
	position: relative;
	@include j-cf();
}

.moviecovers {
	@include j-cf();
	img {
		margin-top: 1%;
		@include j-column(1/5, $cycle: 5);
		@include media('<=tablet'){
			@include j-column(1/3, $cycle: 3);
		}
	}
}