@import "variables";

body {
	font: normal small Verdana, Geneva, sans-serif;
	background: $white;
	color: $black;
	line-height: 1.4;
}

h1, h2, h3, h4 {
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}


.dark {
	background: $darkgray;
	color: $white;
}

#cover-scroller-wrap {
	h2 {
		text-align: center;
		padding: $padding-medium 0 0;
	}
}

#primary-nav {
	height: 40px;
	overflow: hidden;
	background: $black;
	li {
		&:first-child {
			margin-right: $padding-large;
		}
		float: left;
		a {
			color: $white;
		    padding: 12px 18px;
			background: $black;
			display: block;
			text-decoration: none;
			&:hover {
				background: $white;
				color: $black;
			}
		}
	}
}