/**** SASS VARIABLES ****/

$breakpoint: 460px;
$sidebar-width: 200px;

$padding-large: 2em;
$padding-medium: 1em;


/*****   Colors   *****/
$rwhite: #FFF; // Avoid unless necessary
$rblack: #000; // Avoid unless necessary
$white: #EAEAEA;
$black: #222;
$darkgray: #333;

