/**** SASS VARIABLES ****/

$breakpoint: 460px;
$sidebar-width: 200px;

$padding-large: 2em;
$padding-medium: 1em;


/*****   Colors   *****/
$rwhite: #FFF; // Avoid unless necessary
$rblack: #000; // Avoid unless necessary
$white: #EAEAEA;
$black: #222;
$darkgray: #333;

$text-shadow: 0 0 5px rgba(0,0,0,0.8),0 0 3px rgba(0,0,0,0.8),0 0 1px rgba(0,0,0,0.8);